<template>
    <div class="book">
        <div class="container">
			<div class="row">
				<form action="#" @submit.prevent="onSubmit" method="post" class="col-sm-8 offset-sm-2" v-if="book">
					<div class="form-group row">
						<label for="cover" class="col-sm-2 col-form-label">Cover URL</label>
						<input required v-model="book.cover" type="url" name="cover" id="cover" class="form-control col-sm-8 offset-sm-2" placeholder="Cover URL">
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Title</label>
						<input required v-model="book.title" type="text" name="title" id="title" class="form-control col-sm-8 offset-sm-2" placeholder="Title">
					</div>
					<div class="form-group row">
						<label for="author" class="col-sm-2 col-form-label">Author</label>
						<input required v-model="book.author" type="text" name="author" id="author" class="form-control col-sm-8 offset-sm-2" placeholder="Author">
					</div>
					<div class="form-group row">
						<label for="description" class="col-sm-2 col-form-label">Description</label>
						<textarea required v-model="book.description" type="text" name="description" id="description" class="form-control col-sm-8 offset-sm-2" placeholder="Description"></textarea>
					</div>
					<div class="form-group row justify-content-end">
						<input type="submit">
					</div>
				</form>
			</div>
		</div>
    </div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
	data() {
		return {
			book: {
				cover: "",
				title: "",
				author: "",
				description: "",
			},
		};
	},
	methods: {
		onSubmit(event, data) {
			const url = `${process.env.VUE_APP_ROOT_API}/books/`;

			axios
				.post(url, this.$data.book)
				.then(response => {
					if (response.status === 201) {
						alert(response.data.message);
						router.push({ name: "display-books" });
					}
				})
				.catch(error => {
					const { status } = error.response;
					status === 404 && alert(`We couldn't find this record in database!`);
				});
		},
	},
	name: "create-book",
};
</script>
