<template>
    <div class="container">
		<div class="row">
			<div class="col">
				<div class="book" v-if="book">
					<div class="header">
						<ul class="list-inline">
							<li class="list-inline-item"><router-link :to="{ name: 'edit-book', params: { slug: book.slug } }" class="btn btn-primary">Edit book</router-link></li>
							<li class="list-inline-item"><button @click.prevent="removeBook(book, $event)" type="button" class="btn btn-danger">Remove</button></li>
						</ul>
					</div>

					<img class="book--cover" :src="book.cover" :alt="book.name">

					<h1>{{book.title}} by {{book.author}}</h1>

					<div class="description">
						{{ book.description }}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from "axios";
import router from "../../router";

export default {
	mounted() {
		const url = `${process.env.VUE_APP_ROOT_API}/books/${
			this.$route.params.slug
		}`;

		axios
			.get(url)
			.then(response => {
				this.book = response.data.data;
			})
			.catch(error => {
				const { status } = error.response;
				status === 404 && router.push({ path: "/404" });
			});
	},
	methods: {
		removeBook(btn) {
			const url = `${process.env.VUE_APP_ROOT_API}/books/${btn.slug}`;

			if (confirm("You sure to remove this book?")) {
				axios
					.delete(url)
					.then(response => {
						router.push({ name: "display-books" });
					})
					.catch(error => {
						const { status } = error.response;
						status === 404 && router.push({ path: "/404" });
					});
			}
		},
	},
	data() {
		return {
			book: null,
		};
	},
	name: "display-single-book",
};
</script>

<style>
.header {
	margin-bottom: 25px;
}

.book--cover {
	max-width: 50%;
	margin-bottom: 25px;
}
</style>
