<template>
    <div class="books">
		<div class="container">
			<div class="row">
				<div class="col">
					<SearchBox v-bind:columns="['title', 'author']" v-bind:items="books" v-if="books"/>
				</div>
			</div>
			<div v-if="books" v-for="(book, index) in books" :key="book.id">
				<SingleBook v-if="book.visiable" v-bind:index="index" v-bind:book="book" v-bind:books="books"/>
			</div>
		</div>
    </div>
</template>

<script>
import axios from "axios";
import router from "../../router";
import SearchBox from "../SearchBox.vue";
import SingleBook from "./SingleBook.vue";

export default {
	mounted() {
		const url = `${process.env.VUE_APP_ROOT_API}/books`;

		axios
			.get(url)
			.then(response => {
				let { data } = response.data;

				/**
				 * Add visiable parameter to each record pulled from database
				 *
				 * Will be used by searchbox to hide unmatching elements. By default everything should be visiable.
				 */
				data.forEach(element => {
					element.visiable = true;
				});

				this.books = data;
			})
			.catch(error => {
				if (error.response) {
					const { status } = error.response;
					status === 404 && router.push({ path: "/404" });
				}
			});
	},
	data() {
		return {
			books: {},
		};
	},
	components: {
		SearchBox,
		SingleBook,
	},
	name: "display-all-books",
};
</script>

<style>
.cover {
	max-width: 100px;
}
</style>
