<template>
    <div class="row single--book--row">
		<div class="col-sm-4 book--cover">
			<router-link :to="{ name: 'display-book', params: { slug: book.slug } }">
				<img class="book--cover__img" :src="book.cover" :alt="book.title">
			</router-link>
		</div>
		<div class="col-sm-7 book--description">
			<router-link :to="{ name: 'display-book', params: { slug: book.slug } }">
				<h2>{{book.title}} by {{book.author}}</h2>
			</router-link>

			<p>{{book.description}}</p>
		</div>
		<div class="col-sm-1 book--control">
			<div class="btn-group-vertical" role="group">
				<router-link :to="{ name: 'edit-book', params: { slug: book.slug } }" class="btn btn-primary">Edit</router-link>
				<button @click.prevent="removeBook(book, index, $event)" type="button" class="btn btn-danger">Remove</button>
			</div>
		</div>
	</div>
</template>

<script>
import axios from "axios";

export default {
	methods: {
		removeBook(btn, index) {
			const url = `${process.env.VUE_APP_ROOT_API}/books/${btn.slug}`;

			if (confirm("You sure to remove this book?")) {
				axios
					.delete(url)
					.then(response => {
						this.books.splice(index, 1);
					})
					.catch(error => {
						const { status } = error.response;
						status === 404 && router.push({ path: "/404" });
					});
			}
		},
	},
	name: "single-book",
	props: ["books", "book", "index"],
};
</script>

<style>
.single--book--row {
	margin-bottom: 50px;
}

.book--cover {
	align-self: center;
}

.book--cover__img {
	max-height: 200px;
}
</style>
